page-home {
    ion-content {
     background-image: url('../assets/img/playa-cavancha-bg.jpg');
     -webkit-background-image: url('../assets/img/playa-cavancha-bg.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
    }
}
